<div class="span9">
    <h4>Branches List </h4>
    <ul class="thumbnails">
        <% for(var i=0; i<branches.length; i++) {%>
        <li class="span3">
            <div class="thumbnail">
                <div class="caption">
                    <h5><%= branches[i].name %></h5>
                </div>
            </div>
        </li>
        <% } %>
        <li class="span3">
            <div class="thumbnail">
                <a  href="product_details.html"><img src="themes/images/products/6.jpg" alt=""/></a>
                <div class="caption">
                    <h5>Product name</h5>
                    <p>
                        Lorem Ipsum is simply dummy text.
                    </p>

                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                </div>
            </div>
        </li>
    </ul>

</div>