systemLog:
   destination: file
   path: C:\Users\reuvenp\WebstormProjects\my_project\mongodb\log\mongod.log
   logAppend: true
processManagement:
   windowsService:
      description: "MongoDb Server 3.2, localhost access only, port:27017"
net:
   port: 27017
   bindIp: 127.0.0.1
storage:
   dbPath: C:\Users\reuvenp\WebstormProjects\my_project\mongodb\data
   journal:
      enabled: true
